<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:sharedUserId="controllerandroidapp.xtcard.monet.uid.shared"
          package="cz.monetplus.knox.key_management">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_HW_CONTROL"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_TIMA_KEYSTORE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:allowBackup">
        <uses-library
                android:name="org.simalliance.openmobileapi"
                android:required="true"/>

        <activity android:name="cz.monetplus.knox.key_management.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="cz.monetplus.knox.key_management.FakeTokenActivity"/>
        <activity
                android:name="cz.monetplus.knox.key_management.FakeTokenGuiActivity"
                android:label="@string/title_activity_fake_token_gui"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="cz.monetplus.knox.key_management.FakeTmsActivity"
                android:label="@string/title_activity_fake_tms"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>


            <activity
                android:name="cz.krajcovic.knoxsupport.KnoxActivateActivity"
                android:label="@string/title_activity_knox_activate"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity android:name="cz.monetplus.knox.key_management.KeyManagementActivity">
        </activity>

        <!-- MonetAdminReceiver TODO Provide receiver for device admin receiver class -->
        <receiver
                android:name="cz.krajcovic.knoxsupport.MonetAdminReceiver"
                android:description="@string/enterprise_device_admin_description"
                android:label="@string/enterprise_device_admin"
                android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                    android:name="android.app.device_admin"
                    android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Activate License TODO Provide receiver for Knox license activation results -->
        <receiver android:name="cz.krajcovic.knoxsupport.MonetLicenseReceiver" >
            <intent-filter>
                <action android:name="com.samsung.android.knox.intent.action.KNOX_LICENSE_STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>